




@import 'tailwindcss';


@theme {
  --color-muted: #94A3B8;
  --color-accent-gold: #C5A059;
  --color-destructive: #EF4444;
  --color-destructive-foreground: #FFFFFF;
  --color-background: #F8FAFC;
  --color-secondary: #E3F2FD;
  --color-foreground: #1E293B;
  --color-secondary-foreground: #1565C0;
  --color-primary-foreground: #FFFFFF;
  --color-primary: #2C3E50;
}

  @layer base {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}